.body{
  box-sizing: border-box;
}
.header{
    width: 100%;
    float: left;
    background-image: url("../images/bbb.jpg");
    height: 600px;
}
.header-left{
    width:30%;
    float: left;
}
.logo{
    margin: 50px;
}
.header-middle{
    width: 80%; 
    margin: 60px; 
    margin-left: 50px;
}
.header-middle li{
    display: inline-block;
    list-style-type: none; 
}
.header-middle li a{
    font-weight: 800;
    color: Blue;
    text-decoration: none;
    padding: 20px;
    font-size: 20px;
   
}
.picture{
    width: 100%;
    float: left;
}
.picture-left{
     width: 50%;
     float: left;
}
.boat{
    width: 100%;
    float: left;
}
.picture-right{
    width: 100%;
    float: right;
}
.picture-right{
    width: 50%;
    float: right;
}
.picture-right h4 {
    color: black;
    width: 90%;
    font-size: 70px;
    margin-left: 40px;
}
.picture-right p {
    color: grey;
    width: 70%;
    font-size: 15px;
    margin-left: 40px;
    margin-top: -70px;
    position: absolute;
}
.cta1{
    box-shadow: 10px;
    background-color: orange;
    width: 35%;
    border: none;
    padding: 15px;
    margin: 40px;
    margin-top: 20px;   
}
.cta2{
    box-shadow: 10px;
    background-color: whitesmoke;
    width: 35%;
    border: none;
    padding: 15px;
    margin: 40px;
    margin-top: 20px;  
}
.Donation{
    width: 100%;
    float: left;
    margin-right: 30px;
}
.Donation-left{
    width: 50%;
    float: left;
}
.Donation-left h3 {
    font-size: 30px;
    color: orange; 
    margin-left: 20px;
}
.Donation-left h4 {
    font-size: 30px;
    color: orange; 
    position: absolute;
    margin-left: 20px;
    margin-top: -8px; 
}
.Donation-left p{
    font-size: 40px;
    color: black;
    width: 50%;
    margin-left: 20px; 
    margin-bottom: 10px;
}
.Donation-left h6{
    font-size: 20px;
    color: grey;
    margin-left: 20px;
    line-height: 25px;
}
.Donation-left hr{
    width: 60px;
    border-bottom: 2px solid orange;
    float: left;
    margin-left: 20px;
}
.Donation-right{
    width: 50%;
    float: right;
    margin-left: 110px;
    margin-top: -450px;
}
.RaiseMoney-left {
    width: 50%;
    float: left;
   margin-top: -30px;
}
.RaiseMoney-right{
    width: 50%;
    float: right;
}
.RaiseMoney-right h4{
    font-size: 50px;
    color: orange;
    margin-left: 70px;
}
.RaiseMoney-right h5{
    font-size: 30px;
    color: orange;
    margin-top: -60px;
    margin-left: 70px;
}
.RaiseMoney-right p {
    font-size: 40px;
    color: black;
    margin-top: -30px;
    line-height: 1;
    margin-left: 70px;
}
.RaiseMoney-right hr{
    width: 50%;
    border-bottom: 2px solid orange;
    margin-left: 2px;
    margin-top: -30px;
    margin-left: 70px;
}
.RaiseMoney-right h6{
    color: grey;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 70px;
}
.Event{
    width: 100%;
    float: left;
}
.Fav{
    width: 70%;
    float: left;
    margin-left: 110px;
    border-radius: 30px;
    height: 400px;
    margin-top: 50px;
}
.Event-left{
    width: 50%;
    float: left;
}
.Event-left h4{
    font-size: 30px;
    color: black;
    margin-left: 30px;
}
.Event-left p{
    font-size: 20px;
    color:grey;
    margin-left: 30px;
}
.Event-left sub {
    width: 25%;  
}
.Event-right{
    width: 50%;
    float: right;
    background-image: url("images/favicon.png");
}
.section{
    width: 100%;
    float: left;
}
.section-1{
    width: 50%;
    float: left;
}
.section-1 h2 {
    font-size: 40px;
    color: orange;
    margin-left: 30px;
}
.section-1 h4 {
    font-size: 20px;
    color: black;
    margin-left: 30px;
    margin-top: -20px;
}
.section-1 p {
    font-size: 20px;
    color: black;
    margin-left: 30px;
}
.section-2{
    width: 50%;
    float: right;
}
.image{
    width: 100%;
    float: left;
}
.image-1{
    width: 50%;
    height: 600px;
    float: left;
    background-image: url("../images/testimonial-bg.png");
}
.image-1 p{
    color: whitesmoke;
    margin-left: 80px;
    margin-bottom: 50px;
    font-size: 25px;
}
.image-1 h5{
    font-size: 20px;
    margin-left: 400px;
    color: white;
}.image-1 h6 {
    font-size: 15px;
    margin-left: 400px;
    margin-top: -30px;
    color: white;
}
.Linda {
    border-radius: 100px;
    width: 30%;
    margin-left: 350px;
    margin-top: 70px;
}
.image-2{ 
    width: 50%;
    float: right;
    margin-top: -500px; 
    margin-right: -200px;
}
.image-2 p{
    margin-left: -29px;
    line-height: 30px;
}
.image-2 h3{
   /* font-size: 20px; */
   margin-top: -10px;
   margin-left:-30px;
}
.icon1{
    border-radius: 50%; 
    padding: 50px;  
}
.icon2{
    border-radius: 50%;   
    padding: 50px;
}
.icon3{  
    border-radius: 50%;
    padding: 50px;
}
.icon4{
    border-radius: 50%; 
    padding: 50px;  
}
.icon5{
    border-radius: 50%; 
    padding: 50px; 
}
.program{
    width: 100%;
    float: left;
}
.program-left{
    width: 50%;
    float: left;
}
.program-left h1{
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
}
.program-left p {
    font-size: 15px;
    color: grey;
    margin-left: 30px;
    margin-bottom: 30px;
}
.program-right {
    width: 50%;
    float: right;
    margin-right: 30px;
    margin-top: -60px;
    background-image: url("../images/event-bg.png");
    height: 650px;
}
.program-right h5 {
    font-size: 30px;
    color: white;
    margin-left: 200px;
}
.program-right h3 {
    font-size: 40px;
    color: white;
    margin-left: 100px;
}
.program-right p {
    font-size: 25px;
    color: white;
    margin-left: 100px;
}
.cta3{
    background-color: white;
    font-size: 30px;
    color:orange;
    margin-top: -30px;
    margin-left: 200px;
    margin-bottom: 70px;
}
.footer{
    width: 100%;
    background-color: orange;
    float: left;
    height: 200px;
    margin-top: 30px;
}
.footer h4{
    font-size: 20px;
    text-align: center;
    color: white;
    float: left;
    margin-left: 380px;
}
.footer h2{
    font-size: 35px;
    text-align: center;
    color: white;
    float: left;
    margin-left: 550px;
    margin-top: -10px
}
